version: '3'
services:
  lx-music-web:
    build: .
    container_name: lx-music-web
    restart: always
    ports:
      - "3000:3000"
    volumes:
      # 挂载数据目录，确保数据库(sqlite)文件持久化
      - ./data:/app/data
    environment:
      - PORT=3000
