name: Docker Build

on:
  push:
    branches: [ master, main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: lx-music-web:latest
          labels: |
            org.opencontainers.image.title=LX Music Web
            org.opencontainers.image.description=LX Music Desktop as a Docker containerized web application
            org.opencontainers.image.version=${{ github.sha }}
          platforms: linux/amd64,linux/arm64
